<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Crypt Max</title>
        <link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all" />
    </head>
    <body>
        <div id="nav-bar" class="nav-bar">
            <div class="nav-main">
                <h4 class="nav-label">Crypt Mart</h4>
                <div class="nav-menu-btn">
                    <div id="menu-btn" class="menu-btn">&equiv;</div>
                </div>
            </div>
            <div id="nav-list" class="nav-list">
                <h6 class="list-item">About</h6>
                <h6 class="list-item">Pricing</h6>
                <h6 class="list-item">Contact</h6>
                <h6 class="list-item">Buy NFTs</h6>
            </div>
        </div>
        <div class="banner">
            <div class="banner-content">
                <h2 class="banner-header">Discover And Collect Rare NFTs</h2>
                <p class="banner-txt">The most secure marketplace for buying and selling uniques crypto assets</p>
                <div class="banner-btn-cover">
                    <button class="banner-btn btn-1" type="submit">Buy NFTs</button>
                    <button class="banner-btn btn-2" type="submit">Sell NFTs</button>
                </div>
            </div>
            <div class="banner-img-cover">
                <img class="banner-img" src="/static/images/gold_ring.jpg" alt="" />
            </div>
        </div>
        <div class="featured-content">
            <h4 class="ft-txt">Featured</h4>
            <div class="ft-list">
                <div class="ft-items">
                    <h3>Tech Crunch</h3>
                </div>
                <div class="ft-items">
                    <h3>Fast Company</h3>
                </div>
                <div class="ft-items">
                    <h3>MIT</h3>
                </div>
                <div class="ft-items">
                    <h3>Forbes</h3>
                </div>
            </div>
        </div>
        <div class="block">
            <h4 class="analytics ft-txt">Analytics</h4>
            <div class="block-img-cover">
                <img class="block-img" src="/static/images/gold_ring.jpg" alt="" />
            </div>
            <div class="block-content">
                <h2 class="block-header">Built-in Analytics To Track Your NFTs</h2>
                <p class="banner-txt">Use our built-in analytics dashboard to pull valueable insight and monitor the value of your Crypt Max portfolio overtime</p>
            </div>
            <button class="banner-btn btn-1" type="submit">View Pricing</button>
        </div>
        <div class="block">
            <h4 class="analytics ft-txt">24/7 Access</h4>
            <div class="block-img-cover">
                <img class="block-img" src="/static/images/gold_ring.jpg" alt="" />
            </div>
            <div class="block-content">
                <h2 class="block-header">Sell Your NFTs From Anywhere At Any Time</h2>
                <p class="banner-txt">With our easy-to-use platform, you buy or sell assets from anywhere in the world, at any time</p>
            </div>
            <button class="banner-btn btn-1" type="submit">View Pricing</button>
        </div>
        <div class="testimony">
            <h4 class="analytics ft-txt">Testimonials</h4>
            <h2 class="block-header">Read What Others Have To Say</h2>
            <div class="tst-hold">
                <div class="testimonial">
                    <div class="tst-content">
                        <div class="tst-img-cover">
                            <img class="tst-img" src="/static/images/gold_ring.jpg" alt="" />
                        </div>
                        <h5 class="tst-header">Olivia Cole</h5>
                        <p class="banner-txt">Lorem ipsum dolor amet, ipsum dolor lorem amet</p>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="tst-content">
                        <div class="tst-img-cover">
                            <img class="tst-img" src="/static/images/gold_ring.jpg" alt="" />
                        </div>
                        <h5 class="tst-header">Olivia Cole</h5>
                        <p class="banner-txt">Lorem ipsum dolor amet, ipsum dolor lorem amet</p>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="tst-content">
                        <div class="tst-img-cover">
                            <img class="tst-img" src="/static/images/gold_ring.jpg" alt="" />
                        </div>
                        <h5 class="tst-header">Olivia Cole</h5>
                        <p class="banner-txt">Lorem ipsum dolor amet, ipsum dolor lorem amet</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ready-call">
            <h4 class="ready-call-1">ARE YOU READY?</h4>
            <h2 class="ready-invite">Be A Part Of The Next Big Thing</h2>
            <button class="banner-btn btn-2 ready-btn" type="submit">GET STARTED</button>
        </div>
        <footer class="footer">
            <div class="fter-logo fter-logo-div col-1">
                <div class="fter-logo-cover">
                    <img class="fter-logo" src="/static/images/gold_ring.jpg" alt="" />
                </div>
                <h4 class="ft-header">Crypt Max</h4>
            </div>
            <div class="fter-col col-2">
                <h4 class="col-header">Crypt Max</h4>
                <p class="col-item">Home</p>
                <p class="col-item">About</p>
                <p class="col-item">Buy NFTs</p>
                <p class="col-item">Sell NFTs</p>
            </div>
            <div class="fter-col col-3">
                <h4 class="col-header">Market</h4>
                <p class="col-item">Browse NFTs</p>
                <p class="col-item">Buy NFTs</p>
                <p class="col-item">Sell NFTs</p>
            </div>
            <div class="fter-col col-4">
                <h4 class="col-header">Contact</h4>
                <p class="col-item">Home</p>
                <p class="col-item">About</p>
                <p class="col-item">Buy NFTs</p>
                <p class="col-item">Sell NFTs</p>
            </div>
            <div class="fter-col col-5">
                
            </div>
        </footer>
        <script src="/static/js/home.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>